.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.096680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.096680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.971680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-2.664000px;}
._2{margin-left:-1.260000px;}
._8{width:1.764000px;}
._9{width:3.536000px;}
._5{width:5.376000px;}
._1{width:6.492000px;}
._0{width:8.952000px;}
._3{width:13.464000px;}
._7{width:16.308000px;}
._4{width:34.560000px;}
._a{width:594.648000px;}
.fc2{color:rgb(5,99,193);}
.fc1{color:rgb(27,27,27);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:28.000000px;}
.fs2{font-size:36.000000px;}
.fs1{font-size:44.000000px;}
.fs0{font-size:192.000000px;}
.y2a{bottom:2.226000px;}
.y21{bottom:4.576000px;}
.y26{bottom:74.021008px;}
.y0{bottom:75.500000px;}
.y1f{bottom:76.830014px;}
.y28{bottom:77.549998px;}
.y2b{bottom:81.540003px;}
.y1e{bottom:95.998044px;}
.y29{bottom:106.308008px;}
.y1d{bottom:115.166013px;}
.y25{bottom:119.003011px;}
.y24{bottom:133.494008px;}
.y27{bottom:153.416054px;}
.y23{bottom:178.476009px;}
.y1c{bottom:213.292050px;}
.y1b{bottom:237.641033px;}
.y1a{bottom:247.990032px;}
.y19{bottom:258.339031px;}
.y18{bottom:268.688030px;}
.y17{bottom:279.037029px;}
.y16{bottom:289.386028px;}
.y15{bottom:299.735043px;}
.y14{bottom:310.084034px;}
.y13{bottom:320.433033px;}
.y12{bottom:330.782032px;}
.y11{bottom:341.131031px;}
.y10{bottom:351.480030px;}
.yf{bottom:361.829037px;}
.ye{bottom:372.178032px;}
.yd{bottom:382.527031px;}
.yc{bottom:392.876034px;}
.yb{bottom:403.225033px;}
.ya{bottom:413.574033px;}
.y9{bottom:460.998021px;}
.y8{bottom:482.648015px;}
.y7{bottom:504.298009px;}
.y6{bottom:525.948018px;}
.y5{bottom:547.598027px;}
.y4{bottom:569.248021px;}
.y3{bottom:590.898030px;}
.y2{bottom:612.548024px;}
.y20{bottom:631.280024px;}
.y22{bottom:648.244019px;}
.y1{bottom:667.057022px;}
.ha{height:13.049999px;}
.h5{height:15.050000px;}
.h4{height:31.904297px;}
.h6{height:34.912109px;}
.h8{height:35.599609px;}
.h3{height:38.994141px;}
.h9{height:85.099998px;}
.h2{height:170.156250px;}
.h7{height:189.300009px;}
.h1{height:766.500000px;}
.h0{height:841.900024px;}
.w4{width:23.191023px;}
.w5{width:69.750000px;}
.w6{width:73.500000px;}
.w3{width:149.250000px;}
.w2{width:482.000000px;}
.w1{width:559.000000px;}
.w0{width:595.299988px;}
.xd{left:7.550000px;}
.x9{left:10.711000px;}
.xb{left:12.367023px;}
.x7{left:28.860000px;}
.x8{left:32.247001px;}
.x0{left:34.500000px;}
.x2{left:36.000000px;}
.x6{left:41.962998px;}
.x3{left:59.750000px;}
.x1{left:157.586998px;}
.x4{left:160.022998px;}
.xe{left:377.250000px;}
.xc{left:378.750000px;}
.x5{left:444.000000px;}
.xa{left:490.154535px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-3.552000pt;}
._2{margin-left:-1.680000pt;}
._8{width:2.352000pt;}
._9{width:4.714667pt;}
._5{width:7.168000pt;}
._1{width:8.656000pt;}
._0{width:11.936000pt;}
._3{width:17.952000pt;}
._7{width:21.744000pt;}
._4{width:46.080000pt;}
._a{width:792.864000pt;}
.fs3{font-size:37.333333pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:256.000000pt;}
.y2a{bottom:2.967999pt;}
.y21{bottom:6.101333pt;}
.y26{bottom:98.694678pt;}
.y0{bottom:100.666667pt;}
.y1f{bottom:102.440019pt;}
.y28{bottom:103.399998pt;}
.y2b{bottom:108.720004pt;}
.y1e{bottom:127.997392pt;}
.y29{bottom:141.744011pt;}
.y1d{bottom:153.554684pt;}
.y25{bottom:158.670681pt;}
.y24{bottom:177.992010pt;}
.y27{bottom:204.554738pt;}
.y23{bottom:237.968012pt;}
.y1c{bottom:284.389400pt;}
.y1b{bottom:316.854711pt;}
.y1a{bottom:330.653376pt;}
.y19{bottom:344.452042pt;}
.y18{bottom:358.250707pt;}
.y17{bottom:372.049372pt;}
.y16{bottom:385.848038pt;}
.y15{bottom:399.646723pt;}
.y14{bottom:413.445379pt;}
.y13{bottom:427.244044pt;}
.y12{bottom:441.042709pt;}
.y11{bottom:454.841375pt;}
.y10{bottom:468.640040pt;}
.yf{bottom:482.438716pt;}
.ye{bottom:496.237376pt;}
.yd{bottom:510.036041pt;}
.yc{bottom:523.834712pt;}
.yb{bottom:537.633377pt;}
.ya{bottom:551.432044pt;}
.y9{bottom:614.664028pt;}
.y8{bottom:643.530687pt;}
.y7{bottom:672.397345pt;}
.y6{bottom:701.264024pt;}
.y5{bottom:730.130703pt;}
.y4{bottom:758.997361pt;}
.y3{bottom:787.864040pt;}
.y2{bottom:816.730699pt;}
.y20{bottom:841.706698pt;}
.y22{bottom:864.325358pt;}
.y1{bottom:889.409363pt;}
.ha{height:17.399999pt;}
.h5{height:20.066666pt;}
.h4{height:42.539062pt;}
.h6{height:46.549479pt;}
.h8{height:47.466146pt;}
.h3{height:51.992188pt;}
.h9{height:113.466665pt;}
.h2{height:226.875000pt;}
.h7{height:252.400012pt;}
.h1{height:1022.000000pt;}
.h0{height:1122.533366pt;}
.w4{width:30.921364pt;}
.w5{width:93.000000pt;}
.w6{width:98.000000pt;}
.w3{width:199.000000pt;}
.w2{width:642.666667pt;}
.w1{width:745.333333pt;}
.w0{width:793.733317pt;}
.xd{left:10.066667pt;}
.x9{left:14.281334pt;}
.xb{left:16.489364pt;}
.x7{left:38.480000pt;}
.x8{left:42.996001pt;}
.x0{left:46.000000pt;}
.x2{left:48.000000pt;}
.x6{left:55.950665pt;}
.x3{left:79.666667pt;}
.x1{left:210.115997pt;}
.x4{left:213.363998pt;}
.xe{left:503.000000pt;}
.xc{left:505.000000pt;}
.x5{left:592.000000pt;}
.xa{left:653.539380pt;}
}
