
@{
    ViewBag.Title = "HomePage";
}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <img style="position:center;" src="~/assets/media/bannermain.jpg" />
    </div>
</div>
@section css{
    <style>
        body, html {
            background-color: black;
        }
    </style>
}
